.h1 {
	font-weight: bold;
	font-size: 40px;
	line-height: 60px;
}
.h2 {
	font-weight: bold;
	font-size: 32px;
	line-height: 48px;
}
.h3 {
	font-weight: bold;
	font-size: 27px;
	line-height: 40px;
}
.h4 {
	font-weight: bold;
	font-size: 22px;
	line-height: 33px;
}
.h5 {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
}
.h6 {
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
}


.b1 {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}
.b2 {
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}
.s1 {
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
}
.s2 {
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
}
.c3 {
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.2px;
}
.c1 {
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
}
